body {
	background-color: #000000;
	color: #000000;
}

.centered {
	width: 1000px;
    height: 300px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 10;
    right: 0;

    margin: auto;
}

input { 
    lign: right; 
}

#icon-yellow {
	font-style: italic;
	font-weight: bold;
	color: #CCCC00;
}
#icon-green {
	font-style: italic;
	font-weight: bold;
	color: green;
}
#icon-red {
	font-style: italic;
	font-weight: bold;
	color: red;
}


/* Start toggle switch code */
.onoffswitch {
    position: relative; width: 118px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Active";
    padding-left: 12px;
    background-color: #3477C2; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Inactive";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: -3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 90px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* ending toggle css  */

/* starting code for radio buttons */
fieldset {
  overflow: hidden
}

.radio-class {
  float: left;
  clear: none;
}

.radio-label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
} 
/* ending code for radio button */