{% extends 'layout.html' %}

{% block body %}
  <h2> This is the Play page</h2>
  <h3> Here's the info you provided:</h3>
  <p> Amount of players: {{ names_list|length }}</p>
  <p> Players in the list:
    {% for name in names_list: %}
      {{ name }},
    {% endfor %}
  </p>

  <br>
  <h3> Using session attribute </h3>
  <p> Amount of players: {{ username_list|length }} </p>
  <p> Players in list:
    {% for player in username_list: %}
      {{ player }},
    {% endfor %}
  </p>

  <a href="/play/card_drawn">
    <input type="submit" value="Draw a card"/>
  </a>


{% endblock %}
