<div id="loader" ng-show="loadingRequest"></div> <!-- animated circle button -->

	<div class="jumbotron" ng-hide="loadingRequest"> <!-- Adding animation to only display it after loading bar -->
		<h2>Pre-Game Lobby</h2>
		<h3>{{message}}</h3>
		<div style="text-align:left" class="well">
			<ol>
				<!-- <li ng-repeat="name in response">{{name}}</li> Going through array to display names -->
				<li ng-repeat="player in allPlayers">{{player}} <input class="btn btn-primary" type="submit" id="readyButton" value="READY"></li>
				
			</ol>
			
			
		</div>
	</div>

