@model ChocolateMVC.ViewModels.AddChocolateViewModel

<h2>CHOCOLATES LIST 2 (View models)</h2>

<h3> Add a new one:</h3>
<form asp-controller="Lucas" asp-action="AddChocolate" method="post">
  <div asp-validation-summary="All"></div>

    <div class="form-group">
      <label asp-for="Name"></label>
      <input class="form-control" asp-for="Name" />
      <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
      <label asp-for="Description"></label>
      <input class="form-control" asp-for="Description" />
      <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
      <label asp-for="Type"></label>
      <select asp-for="Type" asp-items="Model.ChocolateTypes"></select>
    </div>
    <div>
      <input value="ADD A NEW CHOCOLATE" type="submit"/>
    </div>

</form>
