@{
    ViewData["Title"] = "My Hello World Project";
    @* Layout = null; *@
    @* Layout = null will not use the layout from the Shared folder *@

}

<h1> Hello World, from Lucas's index Page </h1>

<p> List of cheeses made and iterated in Index.cshtml </p>
<ul>
  @foreach (string item in ViewBag.cheeses)
  {
    <li> @item </li>
  }

</ul>

<p>
    <a asp-controller="Lucas" asp-action="Users">Link to add users</a>
</p>
