@{
    ViewData["Title"] = "Add Cheeses";
}

<h2> Add a new user here </h2>
<form action="/Lucas/List" method="post">
    <input name="user" type="text"/>
    <input name="Submit" type="submit"/>
</form>
