<!DOCTYPE html>
<head>
  <title> User Page </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <!-- To link a CSS file DYNAMICALLY, you need to call a python functin url_for() as seen above -->
</head>

<!-- this lets us write python code within html -->
{% if u_name: %} <!-- checking if a user is 'logged in' -->
    <h1> Hi there, {{ u_name }} </h1>
  {% else %}
    <h1> There's no users logged in </h1> <!-- if no users are logged in, then this will be printed out  -->
{% endif %}
