"*":
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "td"
      "li"
    ]
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "text.html.cshtml": "cshtml"
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "f59b11ab-091e-46f3-af8c-977f1d82cf02"
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
