"*":
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "td"
      "li"
    ]
  "browser-refresh-on-save":
    chromeCanary: false
    safari: false
    vivaldi: false
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "text.html.cshtml": "cshtml"
    disabledPackages: [
      "autocomplete-atom-api"
      "browser-refresh-on-save"
    ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "f59b11ab-091e-46f3-af8c-977f1d82cf02"
  "linter-jshint": {}
  "linter-ui-default":
    panelHeight: 255
  welcome:
    showOnStartup: false
